{% extends 'base.html' %}

{% block titl}
    <title>{{item.title}}</title>
{% endblock %}

{% block style-block %}
{% endblock %}

{% block content %}
<h2 class = "subhead"><u>EDIT:</u></h2>
<form class = "content-block" action="/edit/{{item.id}} method = "POST">
    <label for="titl"><h3>Title:</h3></label>
    <input id = "titl" class="input-field" type="text" name="titl" value={{ item.title|tojson }}>
    <label for="desc"><h3>Task:</h3></label>
    <input class="input-feild" id="desc" type="text" id="desc" name="desc" value={{ item.task|tojson }}>
    <input type="submit" value="save" class="save-button">
</form>
{% endblock %}