{% extends 'base.html' %}
{% block titl %}
    <title>New Task</title>
{% endblock %}

{% block styleblock %}
{% endblock %}

{% block content %}
    <h2 class="subhead"><u>New task:</u></h2>
    <form class="content-block" action="/new" method="POST">
        <lable for="titl"><h3>Title:</h3></lable>
        <input class="input-feild" id="titl" type="text" name="titl" placeholder="Title" required>

        <label for="desc"><h3>Task:</h3></label>
        <input class="input-feild" id="desc" type="text" name="desc" placeholder="Task description">

        <input class="save-button" style="float: right;" type="submit" value="Save Task">
    </form>
{% endblock %}